@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary_fonts: "Heebo", "Roboto", "Segoe UI Historic", "Segoe UI", sans-serif;

$primary_background: rgba(32, 32, 32, 1);
$panel_background: rgba(56, 56, 56, 1);
$primary_border: rgba(64, 64, 64, .8);
$border_1: rgba(78, 78, 78, 1);
$transperent_hover_background: #282828;
$transperent_hover_content_background: rgba(0, 0, 0, .1);
$transparent_button_hover: rgba(100, 100, 100, .3);
$primary_content_background: rgba(44, 44, 44, 1);
$error_red_background: rgba(193, 55, 55, .1);
$confirm_green_background: rgba(38, 175, 40, .1);

$white: #dfdfdf;
$black: #19191a;
$gray: #959595;
$green: rgba(38, 175, 40, 1); // #28af2a тоже норм;
$red: rgba(193, 55, 55, 1);

.noselect, .material-symbols-rounded  {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}