@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

$primary_fonts: "Heebo", "Roboto", "Segoe UI Historic", "Segoe UI", sans-serif;

$primary_background: rgba(32, 32, 32, 1);
$panel_background: rgba(56, 56, 56, 1);
$primary_border: rgba(64, 64, 64, .8);
$border_1: rgba(78, 78, 78, .8);

$transparent_hover_background: #282828;
$transparent_hover_content_background: rgba(0, 0, 0, .4);
$transparent_hover_content_background_2: rgba(0, 0, 0, .2);
$transparent_hover_content_background_1: rgba(0, 0, 0, .1);
$transparent_button_hover: rgba(100, 100, 100, .2);
$transparent_button_hover_17: rgba(100, 100, 100, .17);
$transparent_button_hover_1: rgba(100, 100, 100, 0.1);
$transparent_panel_hover: rgba(100, 100, 100, .3);
$transparent_panel_hover_8: rgba(100, 100, 100, 0.7);

$message_background: rgba(90, 90, 90, 0.2);

$primary_content_background: rgba(44, 44, 44, 1);
$error_red_background: rgba(193, 55, 55, .1);
$confirm_green_background: rgba(38, 175, 40, .1);

$white: #dfdfdf;
$primary_blue: #70a8f1;
$black: #19191a;
$white_gray: rgb(190 190 190);
$gray: rgb(149 149 149);
$gray_1: rgb(149, 149, 149, .6);
$test: rgb(149, 149, 149, 0);
$green: rgba(38, 175, 40, 1); // #28af2a тоже норм;
$red: rgba(193, 55, 55, 1);

.noselect, .material-symbols-rounded, .material-symbols-outlined  {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.scroll {
    &:hover {
        &::-webkit-scrollbar-thumb {
            display: block;
        }
    }
    &::-webkit-scrollbar {
        width:  5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray_1;
        border-radius: 5px;
        transition: 200ms;
        display: none;
        &:hover {
            background-color: $gray;
            transition: 200ms;
        }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
}